.compare-bikes {


  @include on-tablet {
    max-width: 392px;
  }

  @include on-desktop {
    max-width: 1020px;
  }

  &__title {

    @include title;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      margin-bottom: $step-m;
      font-size: 64px;
    }


  }

  &__card {
    margin-top: 40px;
  }

  &__grid {

    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
    }
  }
}
