.details {
  max-width: 1020px;

  &__title {
    @include title;

    @include on-tablet {
      margin-bottom: $step-l;
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 64px;
    }
  }

  &__details-item {
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
    }
  }

  &__button {
    width: 100%;

    @include button;

    justify-self: center;
    max-width: 392px;

    @include on-desktop {
      max-width: 324px;
    }
  }
}
