.footer {
  width: 100%;
  min-height: 200px;
  background-image: url('../images/footer/on-phone.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include on-tablet {
    background-image: url('../images/footer/on-tablet.png');
    min-height: 480px;
  }

  @include on-desktop {
    background-image: url('../images/footer/on-desktop.png');
    min-height: 555px;
  }
}
