.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../icons/icon-phone.svg);
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
  }

  &--menu {
    background-image: url(../icons/icon-burger.svg);

    &:hover {
      background-image: url(../icons/icob-burger-hover.svg);
    }
  }

  &--close {
    background-image: url(../icons/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-25deg);
  }
  20% {
    transform: rotate(21deg);
  }
  30% {
    transform: rotate(-18deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(7deg);
  }
  70% {
    transform: rotate(-4deg);
  }
  80% {
    transform: rotate(2deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}
