// #region page
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap';

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

// #endregion
// #region header
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url('../images/Cover_photo.png');
  background-size: cover;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
}

.header__title {
color: white;
font-weight: 700;
font-size: 36px;
line-height: 100%;
letter-spacing: -1.5px;
text-align: center;
}

// #endregion
// #region icon
.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.header__icons {
  display: flex;
  gap: 24px;

}

.icon--phone {
 background-image: url(../icons/phone-icon.svg);
}

.icon--menu {
  background-image: url(../icons/burger-icon.svg);
}

.icon--close {
  background-image: url(../icons/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

// #endregion

